$loader-blockui-color: rgba(255, 255, 255, .5);
$loader-size: 50px;
$loader-color: #337ab7;

.loader-blockui {
  background-color: $loader-blockui-color;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1051;

  .loader-container {
    height: $loader-size;
    left: 50%;
    margin-left: -calc($loader-size / 2);
    margin-top: -calc($loader-size / 2);
    position: relative;
    top: 50%;
    width: $loader-size;
  }
}

.spinner {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 100;

  .circle {
    -webkit-animation: dash 3s ease-in-out infinite;
    animation: dash 3s ease-in-out infinite;
    stroke: $loader-color;
    // defining the pattern of dashes and gaps used to paint the outline of the shape i.e
    // creating dashes in the stroke of SVG shapes.
    // The higher the number, the more space in between dashes in the stroke.
    stroke-dasharray: 1, 150;
    // defines the location along an SVG path where the dash of a stroke will begin
    // higher the number, the further along the path the dashes will begin.
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
