$pagination-bg: #4680ff;
$white-color: #fff;
$border-color: #ddd;
$disabled-color: #777;
$blue-color: #337ab7;

.pagination-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  .pagination-label {
    margin-right: 30px;
  }

  .pagination {
    margin: 0;

    .link {
      background-color: $white-color;
      color: $pagination-bg;
    }

    .active {
      .link {
        background-color: $pagination-bg;
        border-color: $pagination-bg;
        color: $white-color;
      }
    }

    &>li {
      &:first-child {
        &>a {
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
          margin-left: 0;
        }
      }

      &.disabled {
        &>a {
          background-color: $white-color;
          border-color: $border-color;
          color: $disabled-color;
          cursor: not-allowed;
        }
      }

      &>a {
        background-color: $white-color;
        border: 1px solid $border-color;
        color: $blue-color;
        float: left;
        line-height: 1.42857143;
        margin-left: -1px;
        padding: 6px 12px;
        position: relative;
        text-decoration: none;
      }
    }
  }
}
