$size: 5px;
$sort-color: rgb(0 0 0 / 30%);

.table-listing {

  .card-header {
    padding: 0;
  }

  .wrap-normal {
    white-space: normal;
  }
}

.sort {

  &::after {
    border: $size solid transparent;
    border-bottom: $size solid $sort-color;
    content: "";
    display: inline-block;
    height: 0;
    margin-bottom: 2px;
    width: 0;
  }

  &.desc {

    &::after {
      margin-bottom: -2px;
      transform: rotate(-180deg);
    }
  }
}
