<app-card cardTitle="{{ 'app.reporting.activeUSers.focusBrand' | translate }}" [options]="false">
  <form (ngSubmit)="download()" [formGroup]="form" novalidate class="form-content">

    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <app-select placeholder="{{ 'app.team.add.branch' | translate }}" [group]="form" controlName="branch"
          [options]="branchOptions" [multiple]="true" groupBy="mainBranch">
        </app-select>
      </div>
      <div class="col-sm-3 col-lg-2">
        <app-select placeholder="{{ 'app.reporting.activeUSers.dsType' | translate }}" [group]="form"
          controlName="dsType" [options]="dsTypeOptions">
        </app-select>
      </div>
      <div class="m-1">
        <app-button [isFaIcon]="true" iconName="fa fa-file-excel" [showIconInButton]="true" btnClass="m-t-30"
          btnTitle="button.download" [isDisabled]="isDisabled" [appScrollToFirstInvalidInput]="form" btnClass="m-t-30"
          (onClick)="download()">
        </app-button>
      </div>
    </div>

  </form>
</app-card>
