<app-card cardTitle="{{ 'app.project.view.heading' | translate }}" [options]="false">

  <app-table-listing checkKey="id" [header]="header" [url]="url" [body]="body" [sortOptions]="sortOptions"
    [searchTemplate]="searchTemplate" [searchGroup]="form" [smallTable]="false" editLabel="app.project.view.editHeading"
    [editConfig]="editConfig" editModalSize="modal-md">
  </app-table-listing>

  <ng-template #searchTemplate>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <app-select [group]="form" controlName="client" [options]="clientOptions"
          placeholder="{{ 'app.client.add.name' | translate}}">
        </app-select>
      </div>
      <div class="col-sm-4 col-md-3">
        <app-input placeholder="{{ 'app.project.add.name' | translate }}" [group]="form" controlName="projectName">
        </app-input>
      </div>
      <div class="col-sm-3 col-md-2">
        <app-button type="submit" text="button.search"></app-button>
      </div>
    </div>
  </ng-template>
</app-card>
