<app-card cardTitle="{{ 'app.user.user.view.heading' | translate }}" [options]="false">
  <app-table-listing checkKey="id" [header]="header" [url]="url" [body]="body" [sortOptions]="sortOptions"
    editLabel="app.user.user.view.editHeading" [editConfig]="editConfig" [searchTemplate]="searchTemplate"
    [searchGroup]="form" [smallTable]="false" editModalSize="modal-xl" [unlockCondition]="unlockCondition">
  </app-table-listing>
</app-card>

<ng-template #searchTemplate>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <app-input placeholder="{{ 'auth.login.form.username' | translate }}" [group]="form" controlName="username">
      </app-input>
    </div>
    <div class="col-sm-4 col-md-3">
      <app-input placeholder="{{ 'app.user.user.add.fullname' | translate }}" [group]="form" controlName="name">
      </app-input>
    </div>
    <div class="col-sm-4 col-md-3">
      <app-select placeholder="{{ 'app.user.group.form.groupName' | translate }}" [group]="form" controlName="group"
        [options]="groupOptions">
      </app-select>
    </div>
    <div class="col-sm-4 col-md-3">
      <app-select placeholder="{{ 'app.user.user.add.userType' | translate }}" [group]="form" controlName="userType"
        [options]="loginOptions">
      </app-select>
    </div>
    <div class="col-sm-4 col-md-3">
      <app-button type="submit" text="button.search" btnClass="me-1"></app-button>
      <app-button type="button" text="button.clear" colorClass="btn-danger" (onClick)="clearForm()">
      </app-button>
    </div>
  </div>
</ng-template>
