$disabled-color: #ccc;
$focused-color: #e6e6e6;
$blue-color: rgb(2 117 216);
$faded-blue-color: rgb(2 117 216 / 50%);
$white-color: #fff;

::ng-deep {

  .ngb-dp-day {

    .custom-day {
      display: inline-block;
      height: 2rem;
      padding: .185rem .25rem;
      text-align: center;
      width: 2rem;
    }

    &.disabled {

      .custom-day {
        color: $disabled-color;
      }
    }

    &:not(.disabled) {

      .custom-day {

        &.focused {
          background-color: $focused-color;
        }

        &.range,
        &:hover {
          background-color: $blue-color;
          color: $white-color;
        }

        &.faded {
          background-color: $faded-blue-color;
        }
      }
    }
  }
}
