<div class="auth-wrapper maintenance">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <img src="assets/images/maintenance/maintance.png" alt="" class="img-fluid">
          <h5 class="text-muted my-4">{{ 'not.maintenance' | translate }}</h5>
          <app-button text="button.back" [showIconInButton]="true" btnClass="waves-effect waves-light btn-primary mb-4"
            iconName="icon-arrow-left me-2" (onClick)="onBackClick()">
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
