<app-card cardTitle="Route Delete" [options]="false">
  <app-table-listing checkKey="id" [header]="header" [body]="body" [url]="url" [sortOptions]="sortOptions"
    [searchTemplate]="searchTemplate" [searchGroup]="form">
  </app-table-listing>
</app-card>

<ng-template #searchTemplate>
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <app-select placeholder="Branch" [group]="form" controlName="branch" [options]="branchOptions"
        (onChange)="getTeamNames()">
      </app-select>
    </div>
    <div class="col-sm-4 col-md-3">
      <app-select placeholder="Team" [multiple]="true" [group]="form" controlName="team" [options]="teamOptions">
      </app-select>
    </div>
       <div class="col-xxl-4 col-md-12">
        <div class="mb-2">
          <app-textarea  rows="4" [group]="form" controlName="recIds"
             label="SHOP IDS"
            placeholder="SHOP IDS">
          </app-textarea>
        </div>
      </div>
    <div class="col-sm-4 col-md-3 d-flex gap-2">
      <app-button type="submit" text="button.search"></app-button>
      <app-button text="button.clear" (onClick)="onClearFilters()"></app-button>
    </div>
  </div>
</ng-template>
