<app-card cardTitle="{{ 'app.reporting.mdo.downloadheading' | translate }}" [options]="false">
  <form (ngSubmit)="downloadData()" [formGroup]="group" novalidate>
    <!-- If Superadmin or Admin Login -->
    <div *ngIf="branchFilter" class="row ml-1 filter-container">
      <div *ngIf="branchFilter" class="col-sm-3 col-lg-2">
        <app-select [group]="searchbarForm" controlName="district" groupClassName="row" sizeClass="col-sm-12"
          [options]="districtOptions" [isHorizontalForm]="true" placeholder="{{ 'app.team.add.district' | translate }}"
          [multiple]="true" (onChange)="getBranch()">
        </app-select>
      </div>
      <div *ngIf="branchFilter" class="col-sm-3 col-lg-2">
        <app-select [group]="searchbarForm" controlName="branch" groupClassName="row" sizeClass="col-sm-12"
          [options]="branchOptions" [isHorizontalForm]="true" placeholder="{{ 'app.team.add.branch' | translate }}"
          [isRequired]="true" [errorMessages]="errorMessages.branch" (onChange)="getCircle()" [multiple]="true"
          groupBy="mainBranch">
        </app-select>
      </div>
      <div *ngIf="branchFilter" class="col-sm-3 col-lg-2">
        <app-select [group]="searchbarForm" controlName="circle" [options]="circleOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.circle' | translate }}" (onChange)="getSection()">
        </app-select>
      </div>
      <div *ngIf="branchFilter" class="col-sm-4 col-lg-2">
        <app-select [group]="searchbarForm" controlName="section" [options]="sectionOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.section' | translate }}" (onChange)="getWDCode()">
        </app-select>
      </div>
      <div class="col-sm-4 col-lg-2">
        <app-select [group]="searchbarForm" controlName="wdCode" [options]="wdCodeOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.wdCode' | translate }}" (onChange)="getTeamsType()">
        </app-select>
      </div>
      <div class="col-sm-4 col-lg-2">
        <app-select [group]="searchbarForm" controlName="wdMarket" [options]="wdMarketOptions" [multiple]="true"
          placeholder="{{ 'app.wdMapping.wd_market' | translate }}">
        </app-select>
      </div>
      <div class="col-sm-4 col-lg-2">
        <app-select [group]="searchbarForm" controlName="wdPopGroup" [options]="wdPopGroupOptions" [multiple]="true"
          placeholder="{{ 'app.wdMapping.wd_pop_group' | translate }}">
        </app-select>
      </div>
      <div class="col-sm-4 col-lg-2">
        <app-select [group]="searchbarForm" controlName="dsType" [options]="teamTypeOptions"
          placeholder="{{ 'app.team.add.mdoType' | translate }}" (onChange)="getTeamsName()" [multiple]="true">
        </app-select>
      </div>
      <div class="col-sm-4 col-lg-2">
        <app-select [group]="searchbarForm" controlName="dsName" [options]="teamOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.mdoName' | translate }}">
        </app-select>
      </div>
      <div class="col-sm-6 col-lg-4">
        <app-button [isFaIcon]="true" iconName="fa fa-file-excel" btnClass="m-l-5" [showIconInButton]="true"
          btnTitle="button.downloadList" (onClick)="downloadData()" [showSpinner]="isDownloading"
          [isDisabled]="isDownloading" *ngIf="showTransactionDownloadBtn"></app-button>
        <app-button type="button" text="button.clear" btnClass="m-l-5" colorClass="btn-danger"
          (onClick)="clearForm()"></app-button>
      </div>
    </div>
  </form>
</app-card>
