$white: #fff;
$blue1: #002d62;
$blue2: #0066b2;
$blue3: #b8d9f1;
$black: #000;

i {
  font-weight: bold;
}

th,
td {
  border: 1px solid $black;
}

.table-header {

  th,
  td {
    background-color: $blue1;
    color: $white;
  }
}

.table-data {
  background-color: $blue2;
  color: $white;
}

.expanded-table {
  background-color: $blue1;
  color: $white;
}

.nested-table {
  background-color: $blue2;
  color: $white;
}

.wd-td {
  background-color: $blue3;
}

.size-13 {
  font-size: 12px;
  padding: 0;
  width: 7.14%;
}

.second-nested {
  border-bottom: 1px solid $black;
  padding: 0 !important;
}

.section-row>td {
  padding: 0;
}

// Ensure container is centered

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 95vw;
  padding: 20px;
  width: 100%;
}
