<app-card cardTitle="{{ 'app.sitesOnMap.universeMaster' | translate }}" [options]="false">
  <form (ngSubmit)="getData()" [formGroup]="group" novalidate>
    <!-- If Superadmin or Admin Login -->
    <div *ngIf="branchFilter" class="row ml-1 filter-container">
      <div class="w-2 m-1">
        <app-date [group]="searchbarForm" controlName="dateFrom" groupClassName="row" sizeClass="col-sm-12"
          [isHorizontalForm]="true" placeholder="{{ 'placeholder.from' | translate }}" [showValidationState]="false"
          [maxDate]="group.get('searchbar').get('dateTo').value" label="placeholder.from" [errorMessages]="errorMessages.dateFrom" [isRequired]="true">
        </app-date>
      </div>
      <div class="w-2 m-1">
        <app-date [group]="searchbarForm" controlName="dateTo" groupClassName="row" sizeClass="col-sm-12"
          [isHorizontalForm]="true" placeholder="{{ 'placeholder.to' | translate }}" [showValidationState]="false"
          [minDate]="group.get('searchbar').get('dateFrom').value" label="placeholder.to" [errorMessages]="errorMessages.dateTo" [isRequired]="true">
        </app-date>
      </div>

      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="district" [options]="districtOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.district' | translate }}" label="app.team.add.district"
          (onChange)="getBranch()">
        </app-select>
      </div>

      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="branch" [options]="branchOptions" [multiple]="true"
          label="app.team.add.branch" placeholder="{{ 'app.team.add.branch' | translate }}" (onChange)="getCircle()"
          groupBy="mainBranch" [errorMessages]="errorMessages.branch" [isRequired]="true">
        </app-select>
      </div>
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="circle" [options]="circleOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.circle' | translate }}" (onChange)="getSection()" label="app.team.add.circle">
        </app-select>
      </div>
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="section" [options]="sectionOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.section' | translate }}" (onChange)="getWDCode()" label="app.team.add.section">
        </app-select>
      </div>
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="wdCode" [options]="wdCodeOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.wdCode' | translate }}" (onChange)="getTeamsName()" label="app.team.add.wdCode">
        </app-select>
      </div>
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="wdMarket" [options]="wdMarketOptions" [multiple]="true"
          placeholder="{{ 'app.wdMapping.wd_market' | translate }}" label="app.wdMapping.wd_market">
        </app-select>
      </div>
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="wdPopGroup" [options]="wdPopGroupOptions" [multiple]="true"
          placeholder="{{ 'app.wdMapping.wd_pop_group' | translate }}" label="app.wdMapping.wd_pop_group">
        </app-select>
      </div>
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="dsName" [options]="teamOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.mdoName' | translate }}" label="app.team.add.mdoName">
        </app-select>
      </div>
      <div class="col-12 col-sm-3 col-md-2">
        <app-button type="submit" text="button.search" [appScrollToFirstInvalidInput]="group" btnClass="m-t-30">
        </app-button>
      </div>
    </div>

    <!-- If Regional Login -->
    <div *ngIf="!branchFilter" class="row ml-1 filter-container">
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="wdCode" [options]="wdCodeOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.wdCode' | translate }}" (onChange)="getTeamsName()" label="app.team.add.wdCode">
        </app-select>
      </div>
      <!-- <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="dsType" [options]="teamTypeOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.dsType' | translate }}" label="app.team.add.dsType">
        </app-select>
      </div> -->
      <div class="w-2 m-1">
        <app-select [group]="searchbarForm" controlName="dsName" [options]="teamOptions" [multiple]="true"
          placeholder="{{ 'app.team.add.mdoName' | translate }}" label="app.team.add.mdoName">
        </app-select>
      </div>
      <div class="col-12 col-sm-3 col-md-2">
        <app-button type="submit" text="button.search" [appScrollToFirstInvalidInput]="group" btnClass="m-t-30">
        </app-button>
      </div>
    </div>
  </form>
</app-card>

<ng-container *ngIf="markers && markers.length > 0">
  <app-card [options]="false">
    <div class="row">
      <div *ngFor="let index of noOfMaps" class="mb-m col-lg-{{ columnSize }}">
        <app-simple-map [markers]="markers"></app-simple-map>
      </div>
    </div>
  </app-card>
</ng-container>
