<app-card cardTitle="{{ 'app.sitesOnMap.rmdLocationCovered' | translate }}" [options]="false">
  <form (ngSubmit)="getData()" [formGroup]="group" novalidate>
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <app-select [group]="group" controlName="rmdName" placeholder="{{ 'app.sitesOnMap.rmdName' | translate }}"
          label="app.sitesOnMap.rmdName" [options]="rmdNameOptions" [multiple]="true" [isRequired]="true">
        </app-select>
      </div>
      <div class="col-sm-3 col-md-2">
        <app-button type="submit" text="button.search" [appScrollToFirstInvalidInput]="group" btnClass="m-t-30">
        </app-button>
      </div>
    </div>
  </form>
</app-card>

<ng-container *ngIf="markers && markers.length > 0">
  <app-card [options]="false">
    <div class="row">
      <div *ngFor="let index of noOfMaps" class="mb-m col-lg-{{ columnSize }}">
        <app-simple-map [markers]="markers"></app-simple-map>
      </div>
    </div>
  </app-card>
</ng-container>
