RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

Header add Access-Control-Allow-Origin "*"
# RewriteEngine on
# RewriteCond %{HTTP:Authorization} ^(.*)
# RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]