<div *ngIf="!hide" class="form-group {{ groupClassName}}" [formGroup]="group">
  <label *ngIf="label" class="{{ labelClassName }}" for="{{ controlName }}">
    <span [class.required]="isRequired">{{ label | translate }}</span>
  </label>
  <ng-container *ngIf="isHorizontalForm; else nonHorizontalForm">
    <div class="{{ sizeClass }}">
      <ng-container *ngTemplateOutlet="textareaBox"></ng-container>
    </div>
  </ng-container>
  <ng-template #nonHorizontalForm>
    <ng-container *ngTemplateOutlet="textareaBox"></ng-container>
  </ng-template>

  <ng-template #textareaBox>
    <textarea class="form-control" [placeholder]="placeholder" [formControlName]="controlName" [attr.id]="controlName"
      name="{{ controlName }}" [class.is-invalid]="showValidationState && isTouched && inputField.invalid"
      (keyup)="onKeyup($event)" (blur)="onFocusOut($event)" (focus)="onFocusIn($event)" [rows]="rows"
      [class.no-resize]="isNonResizable"></textarea>
    <label *ngIf="showValidationState && isTouched && isInvalid" id="validation-{{ controlName }}-error"
      class="text-justify small form-text invalid-feedback">{{ errorMessage }}</label>
  </ng-template>
</div>
