$white: #fff;
$blue1: #002d62;
$blue2: #0066b2;
$blue3: #b8d9f1;
$black: #000;
$color0: #8dcaef;
$faded-color0: rgba($color0, .75);
$color1: #217cb5;
$faded-color1: rgba($color1, .75);
$color2: #5f70b6;
$faded-color2: rgba($color2, .75);
$color3: #725ca5;
$faded-color3: rgba($color3, .75);
$color4: #ba58a5;
$faded-color4: rgba($color4, .75);
$color5: #f06197;
$faded-color5: rgba($color5, .75);
$color6: #fe8d25;
$faded-color6: rgba($color6, .75);
$color7: #fbd707;
$faded-color7: rgba($color7, .75);

.white-bg {
  background-color: $white !important;
}

i {
  font-weight: bold;
}

.district {
  background: $color0;
  color: $white;
}

.district-cell {
  background: $faded-color0;
  color: $white;
}

.branch {
  background: $color1;
  color: $white;
}

.branch-cell {
  background: $faded-color1;
  color: $white;
}

.circle {
  background: $color2;
  color: $white;
}

.circle-cell {
  background: $faded-color2;
  color: $white;
}

.section {
  background: $color3;
  color: $white;
}

.section-cell {
  background: $faded-color3;
  color: $white;
}

// sass-lint:disable class-name-format

.wdCode {
  background: $color4;
  color: $white;
}

.wdCode-cell {
  background: $faded-color4;
  color: $white;
}

// sass-lint:enable class-name-format

.team {
  background: $color5;
  color: $white;
}

.team-cell {
  background: $faded-color5;
  color: $white;
}

.route {
  background: $color6;
  color: $white;
}

.route-cell {
  background: $faded-color6;
  color: $white;
}

.outlet {
  background: $color7;
  color: $white;
}

.outlet-cell {
  background: $faded-color7;
  color: $white;
}

.table-data {
  background-color: $blue2;
  color: $white;
}

.expanded-table {
  background-color: $blue1;
  color: $white;
}

.nested-table {
  background-color: $blue2;
  color: $white;
}

.wd-td {
  background-color: $blue3;
}

.size-10 {
  font-size: 12px;
  padding: 0;
}

.size-13 {
  font-size: 14px;
  padding: 0;
}

.second-nested {
  border-bottom: 1px solid $black;
  padding: 0 !important;
}

th,
td {
  border: 1px solid $black;
}

.section-row>td {
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 95vw;
  padding: 20px;
  width: 100%;
}

// Responsive Table Wrapper

.table-responsive {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  width: 100%;
}

// Base Table Styling

.table-custom {
  border-collapse: collapse;
  min-width: 1400px;
  width: max-content;

  th,
  td {
    // text-align: center;
    padding: 4px 8px;
    vertical-align: middle;
    white-space: nowrap;
  }
}

// Fixed Column Widths
// .branch,
// .branch-cell,
// .circle-cell,
// .section-cell,
// .wdCode-cell,
// .team-cell,
// .route-cell {
//   width: 180px;
//   max-width: 180px;
//   white-space: nowrap;
// }

// sass-lint:disable class-name-format
// Fixed Column Widths

.district,
.district-cell,
.branch,
.branch-cell,
.circle,
.circle-cell,
.section,
.section-cell,
.wdCode,
.wdCode-cell,
.team,
.team-cell,
.route,
.route-cell,
.outlet,
.outlet-cell {
  max-width: 270px;
  white-space: nowrap;
  width: 270px;
}

// Responsive Adjustments
@media (width <= 768px) {

  .table-custom {

    th,
    td {
      font-size: 10px;
      padding: 2px 4px;
    }
  }

  .district,
  .district-cell,
  .branch-cell,
  .circle-cell,
  .section-cell,
  .wdCode-cell,
  .team-cell,
  .route-cell {
    max-width: 140px;
    width: 120px;
  }
}

// sass-lint:enable class-name-format
