<ng-container *ngIf="monthlySalesData?.Title">
  <app-card headerTitleClass="m-0 fs-14 container" cardTitle="{{monthlySalesData.Title}}" style="font-size: 12px;">
    <button class="btn btn-sm btn-link p-0 ms-1" style="color: #080808; float :left; text-decoration: none;"
      (click)="closeAllExpand()">
      {{ 'Collapse -' }}
    </button>
    <i class="fas fa-download mb-1" style="cursor: pointer; float :right;"
      (click)="showDownloadPopup = true">&nbsp;&nbsp;Download</i>


    <!-- Modal Backdrop -->
    <div class="modal-backdrop" *ngIf="showDownloadPopup" (click)="closeDownloadPopup()"></div>

    <!-- Radio Popup Modal -->
    <div class="download-popup" *ngIf="showDownloadPopup">
      <div class="popup-header">
        <h5>Select Level to Download</h5>
        <button class="close-btn" (click)="closeDownloadPopup()">×</button>
      </div>
      <div class="popup-body">
        <label *ngFor="let level of downloadLevels" class="radio-option">
          <input type="radio" name="downloadLevel" [value]="level" (change)="onLevelSelect(level)" />
          {{ level | titlecase }} Level
        </label>
      </div>
    </div>

    <div class="items-center justify-content-center">
      <div class="table-responsive fixed-table-header">
        <table class="table table-custom">
          <thead>
            <tr class="table-header size-13">
              <th class="size-13 p-1 district" [class.highlight]="true">District
              </th>
              <ng-container *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                <th class="size-13 p-1 text-center" (click)="handleHeaderClick(i)"
                  [@columnAnimation]="getColumnState(i)" [class.highlight]="true">
                  {{ monthYear }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let district of monthlySalesData.districtData">
              <tr class=" ">
                <td class="district-cell">
                  <div>
                    <i class="fas fa-caret-{{ district.isExpanded ? 'up' : 'down' }}"
                      (click)="toggleExpand(district, 'district')" style="cursor: pointer; margin-right: 5px;"
                      class="size-10"></i>
                    {{ district.district }}
                  </div>
                </td>
                <ng-container *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                  <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                    {{ district.districtLevelSale[monthYear] || 0 }}
                  </td>
                </ng-container>
              </tr>

              <ng-container *ngIf="district?.isExpanded">
                <tr class="table-header m-0 section-row">
                </tr>
                <ng-container *ngFor="let branch of district.branchData">
                  <tr class=" ">
                    <td class=" nested-table2 branch-cell">
                      <div style="margin-left:5px" class="size-10">
                        <i class="fas fa-caret-{{ branch.isExpanded ? 'up' : 'down' }}"
                          (click)="toggleExpand(branch, 'branch')" style="cursor: pointer;"></i>
                        {{ branch.branch_name }}
                      </div>
                    </td>
                    <ng-container *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                      <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                        {{ branch.branchLevelSale[monthYear] || 0 }}
                      </td>
                    </ng-container>
                  </tr>

                  <ng-container *ngIf="branch?.isExpanded">
                    <tr class="table-header m-0 section-row">
                    </tr>
                    <ng-container *ngFor="let circle of branch.circleData">
                      <tr class=" ">
                        <td class=" nested-table2 circle-cell">
                          <div style="margin-left:10px" class="size-10">
                            <i class="fas fa-caret-{{ circle.isExpanded ? 'up' : 'down' }}" aria-hidden="true"
                              (click)="toggleExpand(circle, 'circle')" style="cursor: pointer;">
                              {{ circle.circle }}
                            </i>
                          </div>
                        </td>
                        <ng-container *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                          <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                            {{ circle.circleLevelSale[monthYear] || 0 }}
                          </td>
                        </ng-container>
                      </tr>
                      <ng-container *ngIf="circle?.isExpanded">
                        <tr class="table-header section-row">
                        </tr>
                        <ng-container *ngFor="let section of circle.sectionData">
                          <tr class=" ">
                            <td class=" section-cell">
                              <div style="margin-left:15px" class="size-10">
                                <i class="fas fa-caret-{{ section.isExpanded ? 'up' : 'down' }}" aria-hidden="true"
                                  (click)="toggleExpand(section, 'section')" style="cursor: pointer;">
                                  {{ section.section }}
                                </i>
                              </div>
                            </td>
                            <ng-container *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                              <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                                {{ section.sectionLevelSale[monthYear] || 0 }}
                              </td>
                            </ng-container>
                          </tr>
                          <ng-container *ngIf="section?.isExpanded">
                            <tr class="table-header section-row">
                            </tr>
                            <ng-container *ngFor="let wdData of section.wdData">
                              <tr class=" ">
                                <td class=" wdCode-cell">
                                  <div style="margin-left:20px" class="size-10">
                                    <i class="fas fa-caret-{{ wdData.isExpanded ? 'up' : 'down' }}" aria-hidden="true"
                                      (click)="toggleExpand(wdData, 'wd')" style="cursor: pointer;">
                                      {{ wdData.wd_code }}
                                    </i>
                                  </div>
                                </td>
                                <ng-container *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                                  <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                                    {{ wdData.wdLevelSale[monthYear] || 0 }}
                                  </td>
                                </ng-container>
                              </tr>
                              <ng-container *ngIf="wdData?.isExpanded">
                                <tr class="table-header section-row"></tr>
                                <!-- Team Type Level -->
                                <ng-container *ngFor="let teamType of wdData.teamTypeData">
                                  <tr class=" ">
                                    <td class="teamType-cell">
                                      <div style="margin-left:25px" class="size-10">
                                        <i class="fas fa-caret-{{ teamType.isExpanded ? 'up' : 'down' }}"
                                          aria-hidden="true" (click)="toggleExpand(teamType, 'type')"
                                          style="cursor: pointer;"></i>
                                        {{ teamType.team_type }}
                                      </div>
                                    </td>
                                    <ng-container
                                      *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                                      <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                                        {{ teamType.teamTypeLevelSale[monthYear] || 0 }}
                                      </td>
                                    </ng-container>
                                  </tr>

                                  <!-- Team Name Level -->
                                  <ng-container *ngIf="teamType?.isExpanded">
                                    <tr class="table-header section-row"></tr>
                                    <ng-container *ngFor="let teamData of teamType.teamData">
                                      <tr class=" ">
                                        <td class="team-cell">
                                          <div style="margin-left:30px" class="size-10">
                                            {{ teamData.team_name }}
                                          </div>
                                        </td>
                                        <ng-container
                                          *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                                          <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                                            {{ teamData.teamLevelSale[monthYear] || 0 }}
                                          </td>
                                        </ng-container>
                                      </tr>
                                    </ng-container>
                                  </ng-container>

                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- Total Sales Row -->
            <tr class="table-header  ">
              <td class="size-13">Total</td>
              <ng-container *ngFor="let monthYear of monthlySalesData.MonthsAndYears; let i = index">
                <td class="size-13 text-center" [@columnAnimation]="getColumnState(i)">
                  {{ monthlySalesData?.TotalSum[monthYear] || 0 }}
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-card>
</ng-container>
