$white: #fff;
$white2: #ecf0f2;
$green: #767676;
$whitish1: #f9f9f9;
$whitish2: #ddd;
$lightgray: #d3d3d3;
$steelblue: #4682b4;
$red: rgb(225, 9, 9);

.fixed-header {
  background-color: $white;
  left: 0;
  position: sticky;
  z-index: 2;
}

.fixed-column {
  background-color: $white;
  left: 0;
  position: sticky;
  z-index: 1;
}

.fixed-table-header {
  .table {
    th {
      &.highlight {
        background-color: $green !important;
        color: $white;
      }
    }
  }
}

// sass-lint:disable no-universal-selectors
.table> :not(caption)>*>* {
  padding: .3rem .6rem !important;
}

// sass-lint:enable no-universal-selectors

.bg-light-gray {
  background-color: $white2;
}

.bg-white {
  background-color: $white;
}

.fix-width {
  max-width: 80px;
  min-width: 80px;
  width: 80px;
}

.fix-width2 {
  max-width: 90px;
  min-width: 90px;
  width: 90px;
}

.fix-width3 {
  max-width: 100px;
  min-width: 100px;
  width: 100px;
}

.fix-width4 {
  max-width: 120px;
  min-width: 120px;
  width: 120px;
}

.blink-dot {
  animation: blink 1s infinite;
  background-color: $red;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-left: 6px;
  width: 10px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
